font-family: 'Heebo', sans-serif;
font-family: 'Merienda One', cursive;

* {
  box-sizing: border-box;
}

body {
  width: 1920px;
  margin: 0 auto;
  padding: 0 auto;
}

.header {
  height: 63px;
  display: flex;

}

.logo {
  margin-left: 105px;
}

ul {
  display: flex;
  list-style: none;
  align-items: center;
  text-decoration: none;
  margin-left: 336px;
  margin-top: 35px;
  gap: 69px;
}

a {
  position: relative;
  font-family: 'Heebo', sans-serif;
  font-weight: 500;
  font-size: 22px;
  text-decoration: none;
  color: #000000;
  cursor: pointer;
  line-height: 1;
}

a:after {
  display: block;
  position: absolute;
  left: 0;
  top: 70px;
  width: 0;
  height: 5px;
  border-radius: 30%;
  background-color: #1A7F72;
  content: " ";
  transition: width 0.3s ease-out;
}

a:hover:after,
a:focus:after {
  width: 100%;
}

.home {
  margin-left: 4px;
  color: #1A7F72;
  font-size: 24px;
}

.explore, .about, .classes, .privacy, .services {
  color: #000000;
}

.explore, .classes {
  margin-left: -6px;
}

.us {
  margin-left: -5px;
}

.privacy {
  margin-left: -8px;
}

.services {
  margin-left: -5px;
}

.main {
  margin: 0 auto;
  height: 845px;
  text-align: center;
  background: #4EC1AF;
}

.relax {
  padding-top: 56px;
  margin-right: 394px;
  letter-spacing: 3px;
  font-family: 'Merienda One', cursive;
  font-weight: 400px;
  font-size: 48px;
  color: #FFFFFF;
}

.text {
  position: absolute;
  top: 296px;
  left: 342px;
  font-family: 'Heebo', sans-serif;
  font-weight: 200;
  font-size: 18px;
}

.start {
  top: 387px;
  left: 639px;
  padding: 10px 70px;
  position: absolute;
  border-radius: 50px;
  font-family: 'Heebo', sans-serif;
  font-size: 25px;
  font-weight: 500;
  color: #ffffff;
  background: #259385;
  box-shadow: 0px 20px 40px rgba(21, 113, 101, 0.2);
  border: 1px solid #259385;
}

.main_photo {
  position: absolute;
  top: 500px;
  left: 525px;
}

.card {
  display: flex;
  gap: 145px;
  padding-left: 120px;
  padding-top: 92px;
  align-items: center;
}

.meditation_img, .yoga_img, .sounds_img {
  position: absolute;
  top: 1075px;
}

.meditation_img {
  left: 240px;
}

.yoga_img {
  left: 715px;
}

.sounds_img {
  left: 1190px;
}

.meditation, .yoga, .sounds {
  border-radius: 20px;
  background: #ffffff color: #000000;
  width: 330px;
  height: 430px;
  font-family: 'Heebo', sans-serif;
  text-align: center;
}

.meditation, .yoga, h3 {
  font-weight: 500;
  font-size: 25px;
}


.meditation, .yoga, .sounds p {
  font-weight: 400;
  font-size: 14px;
}

.meditation h3 {
  margin-top: 136px;
}

.yoga h3 {
  margin-top: 136px;
}

.sounds h3 {
  margin-top: 136px;
}

.meditation p {
  margin-top: -10px;
}

.yoga p {
  margin-top: -10px;
}

.sounds p {
  margin-top: -10px;
}

.more {
  margin-top: 23px;
  padding: 11px 39px;
  border-radius: 50px;
  background: #259385;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 18px;
  cursor: pointer;
  border: 0 solid #259385;
}

.practice {
  color: #000000;
  height: 939px;
}

.need {
  position: absolute;
  top: 1515px;
  text-align: center;
  left: 300px;
  margin: 0 auto;
}

.need h1 {
  font-family: 'Merienda One', cursive;
  font-weight: 200;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: -5px;
}

.need p {
  margin-top: -30px;
  font-weight: 400;
  font-size: 20px;
  font-family: 'Heebo', sans-serif;
}

.pose img {
  margin-top: 340px;
  margin-left: 120px;
}

.descr {
  position: absolute;
  top: 1800px;
  left: 866px;
  font-family: 'Heebo', sans-serif;
}

.stress {
  margin-top: 64px;
}

.best {
  height: 1010px;
  background: #4EC1AF;
  display: flex;
}

.the h1 {
  margin-left: 310px;
  margin-top: 65px;
  font-family: 'Merienda One', cursive;
  font-size: 44px;
  font-weight: 400;
  text-align: center;
}

.the p {
  text-align: center;
  font-family: 'Heebo', sans-serif;
  font-weight: 400;
  font-size: 20px;
  margin-left: 350px;
  margin-top: -20px;
}

.about {
  color: #000000;
  background: #C3EEE8;
  border-radius: 15px;
  border: 4px solid #378377;
  width: 460px;
  height: 160px;

}

.right {
  display: flex;
  position: absolute;
  flex-direction: column;
  padding-left: 100px;
  gap: 70px;
  top: 2650px;
  direction: rtl;
}


.left {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 2650px;
  gap: 70px;
  padding-left: 950px;
}

.about h3 {
  color: #000000;
  font-weight: 500;
  font-size: 28px;
  font-family: 'Heebo', sans-serif;
  margin: 20px;
}

.about p {
  font-weight: 400;
  font-size: 20px;
  font-family: 'Heebo', sans-serif;
  margin: -20px 28px;
}

.namaste {
  position: absolute;
  margin-left: 640px;
  margin-top: 250px;
}

.transform {
  padding: 1px;
  background-color: #ffffff;
  height: 1300px;
  color: #000000;
  margin: 0 auto;
}

.mind {
  text-align: center;
}

.mind h1 {
  font-size: 44px;
  font-weight: 400;
  margin-right: 405px;
  margin-top: 85px;
  font-family: 'Merienda One', cursive;
  letter-spacing: -1px;
}

.mind p {
  font-family: 'Heebo', sans-serif;
  font-weight: 400;
  font-size: 20px;
  margin-right: 405px;
  margin-top: -30px;
}

.first {
  display: flex;
  margin-top: 70px;
  margin-left: 200px;
}

.antistress h3 {
  font-family: 'Heebo', sans-serif;
  font-weight: 500;
  font-size: 25px;
  padding-left: 170px;
  padding-top: 50px;
}

.antistress p {
  font-family: 'Heebo', sans-serif;
  font-weight: 400;
  font-size: 19px;
  margin-top: -5px;
  padding-left: 175px;
  line-height: 20px;
}

.learn {
  position: absolute;
  right: 311px;
  margin-top: 13px;
  padding: 7px 30px;
  border-radius: 50px;
  background: #259385;
  color: #FFFFFF;
  font-family: 'Heebo', sans-serif;
  font-weight: 400;
  font-size: 20px;
  border: 0px solid #259385;
  cursor: pointer;
}

.backyark {
  margin-top: 150px;
  margin-left: 160px;
}

.backyark h3 {
  font-family: 'Heebo', sans-serif;
  font-weight: 500;
  font-size: 25px;
}

.backyark p {
  font-family: 'Heebo', sans-serif;
  font-weight: 400;
  font-size: 19px;
  margin-top: -10px;
  line-height: 25px;
}

.lern {
  position: absolute;
  padding: 7px 30px;
  border-radius: 50px;
  background: #259385;
  color: #FFFFFF;
  font-family: 'Heebo', sans-serif;
  font-weight: 400;
  font-size: 20px;
  border: 0px solid #259385;
  cursor: pointer;
}

.img_girl {
  margin-left: 760px;
  margin-top: -300px;
}

.footer {
  display: ;
}

.footer_logo {
  position: absolute;
  top: 4873px;
  right: 528px;
}

.footer_nav {
  display: flex;
  position: absolute;
  top: 4960px;
  right: 261px;
  font-family: 'Heebo', sans-serif;
  font-weight: 400;
  font-size: 21px;
  cursor: pointer;
}

.footer_nav ul li {
  color: #000000;
  margin-left: -54px;
  border-right: 2px solid #000000;
  padding-right: 20px;
  height: 30px;
}

.footer_nav ul li:last-child {
  border-right:0px;
}

.social {
  display: flex;
  gap: 22px;
  position: absolute;
  margin-left: 670px;
  margin-top: -100px;
}
